{% extends 'index.html' %}
{% block content %}
<!-- <h1 class="h3 mb-4 text-gray-800">Transaksi Penjualan</h1> -->

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h3 class="m-0 font-weight-bold text-primary">Informasi Transaksi Penjualan</h3>
            </div>
            <div class="card-body">
                <div class="mt-3">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTableTransaksi" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama Barang</th>
                                    <th>Jumlah</th>
                                    <th>Total</th>
                                    <th>Tanggal Transaksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}